node_modules
node_modules/
package-lock.json

# System Files
.DS
.DS_Store
.DS_STORE
.DS_Store?

# cypress folders
/cypress/videos
/videos
/cypress/screenshots
/screenshots
/cypress/results
/cypress/reports

# allure folders
allure-report
allure-report/
allure-results
allure-results/